/* Copy and paste your CSS from CodePen into here */
body {
    background-color: #3266a8;
}

.site-title {
    color: #eded24;
    font-family: Verdana;
    font-size: 45px;
    text-align: center;
}

.site-sub-title {
    color: #eded24;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}

a {
    color: #eded24;
    font-family: Verdana;
    font-size: 15px;
}

a:hover {
  color: hotpink;
}

.navigation-bar {
    display: flex;
    justify-content: space-evenly;
}

li {
    color: #eded24;
    list-style-type: circle;
    display: inline;
}

.image-container {
    display: flex;
    justify-content: center;
}

.general-text {
    color: #eded24;
    font-family: Verdana;
    font-size: 15px;
}

.reverse-b {
    display: inline-block; 
    transform: scale(-1, 1);
   }